body {
    padding: 20px 0;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.flash-message {
    margin-top: 20px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.clickable, .list_group {
	cursor: pointer; 
	cursor: hand;
}

.black {
    color: black; 
}

.green {
    color: #01DF74;
}
